@font-face {
  font-family: Lora;
  src: url('/assets/fonts/Lora-Variable.woff2') format('woff2'),
       url('/assets/fonts/Lora-Variable.woff') format('woff'),
       url('/assets/fonts/Lora-Variable.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url('/assets/fonts/Lora-VariableItalic.woff2') format('woff2'),
       url('/assets/fonts/Lora-VariableItalic.woff') format('woff'),
       url('/assets/fonts/Lora-VariableItalic.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
  font-style: italic;
}

