body {
  background-color: black;
  background-image: url(/assets/bg.png);
  color: white;
  font-size: 18px;
  padding: 2rem 4rem;
}

a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  &:visited {
    color: lightgray;
  }
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar {
  position: fixed;
  width: 14rem;
  padding: 0.5rem;
  border: 2px double lightgrey;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1rem .25rem rgba(0,0,0,.5);

  nav > ul {
    padding-left: 0;
  }
}

.content {
  width: 48rem;
  margin-left: 16rem;

  article {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1rem .25rem rgba(0,0,0,.5);
  }
}

.site-title {
  display: block;
  margin-bottom: .75rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  &:visited {
    color: white;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input, button {
  color: black;
}
