.note {
  li {
    margin-left: var(--space-xs);
  }

  nav.breadcrumbs {
    --column-space: var(--space-3xs);
    font-size: 0.9rem;
    margin-bottom: var(--space-m);

    ol {
      display: flex;
      flex-direction: row;
      column-gap: var(--column-space);

      &::before {
        content: "/";
      }

      li {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: var(--column-space);
      }

      li:not(:last-child)::after {
        content: "/";
      }
    }
  }
}
