---
const link = (label, href) => ({ label, href });
const links = [
  link("sloanelybutsurely.com", "/"),
  link("posts", "/posts/"),
  link("/now", "/now/"),
];
---

<nav>
  <ul>
    {
      links.map(({ label, href }) => (
        <li>
          <a href={href}>{label}</a>
        </li>
      ))
    }
  </ul>
</nav>
