---
import "./Default.css";
import Navigation from "../components/Navigation.astro";

const title = Astro.props.title ?? Astro.props.frontmatter?.title;
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="sloanelybutsurely.com"
      href={new URL("feed.xml", Astro.site)}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
